
.wrapper {
  background-color: purple;
  max-width: 480px; /* adjust to your preferred value */
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6px);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color:transparent;
  max-width: 480px; /* adjust to your preferred value */
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6px);
  background-color: transparent;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}



.lg\\:py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.bg-white {
  background-color: #ffffff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark\\:border {
  border-color: #4b5563;
}

.md\\:mt-0 {
  margin-top: 0 !important;
}

.sm\\:max-w-md {
  max-width: 28rem;
}

.xl\\:p-0 {
  padding: 0;
}

.dark\\:bg-gray-800 {
  background-color: #1f2937;
}

.dark\\:border-gray-700 {
  border-color: #4b5563;
}

.p-6 {
  padding: 1.5rem;
}

.space-y-4 > *:not(:last-child) {
  margin-bottom: 1rem;
}

.md\\:space-y-6 > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.text-gray-900 {
  color: #1f2937;
}

.md\\:text-2xl {
  font-size: 1.5rem;
}

.dark\\:text-white {
  color: #ffffff;
}

.block {
  display: block;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.font-medium {
  font-weight: 500;
}

.for-medium {
  font-size: 1.125rem;
}

.text-gray-500 {
  color: #6b7280;
}

.dark\\:text-gray-300 {
  color: #d1d5db;
}

input[type="email"],
input[type="password"] {
  border-width: 1px;
  border-style: solid;
  padding: 0.625rem;
  background-color: #f3f4f6;
  width: 90%;
  max-width: 100%;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.border-gray-300 {
  border-color: #d1d5db;
}

.text-gray-900 {
  color: #1f2937;
}

.sm\\:text-sm {
  font-size: 0.875rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}